body{
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Manrope", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dialogo {
    display: none;
    position: absolute;
    width: 250px;
    height: 50px;
    background-color: hsl(217, 19%, 35%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    left: 75%;
    top: 51%;
  }
  
  /* Triángulo para la punta */
  .triangulo {
    position: absolute;
    bottom: -10px; /* Mueve la punta hacia abajo */
    left: 50%; /* Centra la punta */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%); /* Color coincide con el diálogo */
  }

 .container{
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 18rem;
    background-color: white;
    position: relative;
    border-radius: 10px;
 }

 .drawers{
    width: 35%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 .autor{
    width: 2.5rem;
    border-radius: 50%;
    
    
 }
 .autor_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
 }
 .autor_descripcion{
    display: flex;
    flex-direction: column;    
    gap: 4px;

 }
 .descripcion{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
 }
 h1{
    font-size: 1.2rem;
    color: hsl(217, 19%, 35%);
 }
.share{
    width: 100%;
    height: auto;
}
.share_contaier{
    width: 25px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
}
.share_contaier:hover{
    background-color: hsl(214, 17%, 51%);
}
.share_contaier:hover .share{
    filter: invert(1) brightness(2); 
}

h2{
    font-size: 0.8rem;
    color: hsl(217, 19%, 35%);
}
h3{
    font-size: 0.8rem;
}
p{
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 500;
}
p,h3{
    color: hsl(212, 23%, 69%);

}

@media (max-width: 495px){
   
    body{
        
    }
    p{
        font-size: 1.2rem;
        text-align: start;
    }
    .container{
        width: 90%;
        height: auto;
        margin: 20px auto;
        flex-direction: column;
        align-items: center;
    }
    .drawers{ 
        width: 100%;
    }
   
    .share_contaier{
        width: 45px;
        height: 45px;
        margin-left: 0;
    }
    .share{
        height: 20px;
        width: 20px;
    }
    .descripcion{
        min-width: 100%;
        padding: 35px;
        margin-bottom: 25px;
    }
    .descripcion h1{
        font-size: 1.3rem;
    }
    .autor_container{
        min-width: 90%;
        margin-top: 25px;
    }
    
    .autor_descripcion{
        min-width: 150px;
    }
    .dialogo{
        visibility: visible !important;
        top: 85%;
        left: 0;
        width: 100%;
        height: 95px;
        border-top-left-radius:0 ;
        border-top-right-radius: 0;

    }
    .triangulo{
        display: none;
    }
}